// Define variables for your color scheme

// For example:
$red: #D72638;// Old color --> #FD1015
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$claire-main: #028090;
$claire-secondary: #FFAC81;
$claire-background: #ccdbcb;
$claire-text : #565656

