<div style="height: 100vh;">
  <div class="container-fluid" style="background-image: url(<%= image_path('home-image.svg') %>);
                                height: 61vh; background-size: 100vw; background-repeat: no-repeat;">
    <h2 class="text-info text-center pb-5">Claire's Garden</h2>
  </div>
</div>
