<% plants.each do |plant| %>
  <%= link_to plant_path(plant), class: 'text-decoration-none col-6 px-2' do %>
    <div class="card plant-card"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
      <% if plant.photo.attached? %>
        url(<%= cl_image_path plant.photo.key, height: 500, crop: :fill %>);
      <% else %>
        url(<%= image_path('flower_placeholder.jpg') %>);
      <% end %>">
      <h4><%= plant.name %></h4>
    </div>
  <% end %>
<% end %>
