<h1>plants Index</h1>

<% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
  <%= image_tag "avatar_placeholder.svg", alt: "avatar" %>
<% end %>

<%= current_user.email %>

<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
