.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
  background-size: cover;
  background-position: center;
  padding: 1vh 1vh 2vh 1vh;
  h2, h3, h4 {
    color: white;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;
    i {
    color: white;
    margin: 2vh;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
  background-size: cover;
  background-position: center;
  padding: 1vh 1vh 2vh 1vh;
  h2, h3, h4 {
    color: white;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;
    i {
    color: white;
    margin: 2vh;
    }
  }
}
