.button {
  font-size: 20px;
  border-radius: 0px;
  width: 100%;
  height: 8vh;
  border: none;
  text-transform: uppercase;
  font-weight: 200;
  color: $light-gray;
  letter-spacing: .05em;
}

.claire-garden-button {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 99.17%), $claire-main;
}

.fb-sign-in-button {
  background: #234BA1;
  text-decoration: none;
}

.delete-button {
  color: $red;
}

.button-sticky-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.edit-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: $claire-text;
}
