.card {
  border-radius: 10px;
  box-shadow: $claire-shadow;
  border: none;
  margin: 5px 0px;
}

.plant-card {
  display: flex;
  align-items:center;
  justify-content:center;
  height: 150px;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  h5, h4 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;
  }
}

.plant-card-for-action-show {
  height: 100px;
  width: 120px;
  margin-top: -75px;
  margin-left: 3vw;
  display: flex;
  align-items:center;
  justify-content:center;
  background-size: cover;
  background-position: center;
  padding: 5px;
  h6, h5, h4 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;
    overflow: hidden;
  }
}

.note-card {
  height: 150px;
  padding: 1rem;
  overflow: scroll;
  background-color: $claire-card-background;
}

.text-card {
  background-color: $claire-card-background;
  padding: 1rem;
}

.task-card {
  color: $claire-text;
  display: flex;
  flex-direction: row;
  background-color: $claire-card-background;
  height: 100px;
  h6 {
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  img {
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
    width: 90px;
  }
  section {
    width: 100%;
    padding: 10px;
  }
}

.plant-name-in-task-card {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 26vw;
  white-space: nowrap;
  font-weight: bold;
}

.search-card {
  padding: 1vw;
  border-radius: 10px;
  box-shadow: $claire-shadow;
  border: none;
  background-color: rgba(250, 250, 250, 0.5);
  color: white;
  font-weight: bold;
}
