#or {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    &:before {
        content: "";
        display:block;
        width: 45vw;
        height: 2px;
        display: block;
        background: $claire-text;
        position: absolute;
        left: 0;
        top: 40%;
        z-index: -2;
    }
    &:after {
        content: "";
        display:block;
        width: 45vw;
        height: 2px;
        display: block;
        background: $claire-text;
        position: absolute;
        right: 0;
        top: 40%;
        z-index: -2;
    }
  span{
  background: $claire-background
  }
}

.sign-in-banner {
  margin-top: -75px;
}

.source {
  margin-top: -55px;
}
