.claire-garden-tabs {
    a {
        font-size: 20px;
        color:$claire-text;
        font-weight: bold;
        text-align: center;
        width: 100%;
        transition-duration: .07s;
        text-decoration: none;
        &:hover {
            color:white;
        }
    }
    .active {
        height: 100%;
        background-color: $claire-main;
        color:white;
        font-weight: bold;
        text-decoration: none;
    }
}
