.claire-garden-tabs {
  // margin-top: -2vh;
  // padding-top: 1vh;
  // background-color: $plastroc-background;
  // border-radius: 10px 10px 0 0;
    a {
        font-size: 20px;
        color:$claire-text;
        font-weight: bold;
        text-align: center;
        width: 100%;
        transition-duration: .07s;
        text-decoration: none;
        &:hover {
            color:white;
        }
    }
    .active {
        height: 100%;
        background-color: $claire-main;
        color:white;
        font-weight: bold;
        text-decoration: none;
        // &:after {
        //     content: "";
        //     width: 7px;
        //     height: 3px;
        //     display: block;
        //     margin: 5px auto -8px;
        //     background: $plastroc-main;
        //     border-radius: 2px;
        // }
    }
}
